/* Navigation bar */
#navbar{
flex-direction:column;
}
#navbar ul{
    display:flex;
    flex-direction:column;
}
/* HOME SECTION */
#home{
    height:42vh;
}
    #home::before{
        height:71vh;
    }
#home h1{
    font-size:1.4rem;
    padding: 4px;
}
#home p{
    font-size:0.9rem;
}
.btn{
    font-size: 10px;
}
.h-primary{
    margin:-5px 0 0 0;
}
/* SERVICES CONTAINER */
#services{
    display:flex;
    flex-direction:column;
}
.h-primary1{
    font-size:1.2rem;
    padding: 4px 0px;
    margin: 10px 0px 0 0px;
}
#services .box img{
    height:8rem;
}
/* CLIENT SECTION */
#client-section{
    display:flex;
    flex-direction: column;
}
.client-items img{
    /* height:8vw; */
}
.h-first{
    font-size: 1.5rem;
}
